---
---

@import "{{ site.theme }}";

table {
	border: 2px solid green;
    width:100%;
    margin: 0px;
    border-style:hidden;
    table-layout: fixed;
    background-color: transparent;
    border-spacing: 0;
    
    th {
      font-weight: bold;
    }

    th,
    td {
      padding: 0.5rem 1rem;
      border: 1px solid $table-border-color;
    }
  }
