---
---

@import "{{ site.theme }}";


table, td {
    table-layout: fixed;
    background-color: transparent;
    border-collapse: collapse;
    padding: 2px 2px;
    text-align: center;
}

th {
    padding: 3px 10px;
    font-weight: 100;
    background-color: transparent;
    height: 30px;
}

table tr {
    background-color: transparent;
    font-weight: normal;
    height: 40px;
}

audio {
  width: 150px;
  padding: 1px;
}

footer {
  display: none !important;
}

.btn {
  display: none !important;
}

.project-name {
    font-size: 2.0rem;
}

.page-header {
    padding: 2rem 3rem;
    padding-top: 2rem;
    padding-right: 3rem;
    padding-bottom: 2rem;
    padding-left: 3rem;
}

.page-header {
    text-align: center;
}
